/* SCSS to control logo */

#site-name {
	line-height: 3em;
	padding-left: .5em;
	}

#site-slogan {
	padding-left: 1.5em;
	margin-top: -2em;
	}

/* Change fonts to muli */
html {
font-family: 'Muli', sans-serif;
}