//main background styles

//gradient for background

html {

//set forest green background color
background-image: url('../longmire.jpg');
background-size: 100%;

/* Generates background gradient - FFFFFF to 588c73 at bottom, to match scout symbol blue */


//prevents a duplicate html.js from appearing below the main html element

height: 100%; 
background-repeat: no-repeat;
background-attachment: fixed;
}

//round top corners
header {
	background-color: #FFF;
}

div#page {

	
	background-color: #FFF;
	min-height: 800px;
}

#flexslider-1 {
	max-height: 400px;
	max-width: 600px;

	margin-left: auto;
    	margin-right: auto;

	img {
		max-width: 600px;
		max-height: 400px;	

	}

}

/* change views zebra stripe to light blue */

.view-content table tbody{ 

	tr.odd {
		background-color: #A9C9EA;
	}
}
